{%extends 'base.html'%}
{%load static%}
{%block content%}
    
    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>blog</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <!--начало статейки-->
                        {%for blog in page%}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                {%if blog.image%}
                                <img class="card-img rounded-0" loading="lazy" src="{{blog.image.url}}" alt="">
                                {%endif%}
                                <a href="{%url "blogs:blog" blog_id=blog.id%}" class="blog_item_date">
                                    <h3>{{blog.created_at|date:"j"}}</h3>
                                    <p>{{blog.created_at|date:"M"}}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{%url 'blogs:blog' blog.id%}">
                                    <h2>{{blog.title}}</h2>
                                </a>
                                <p>{{blog.text_slug}}</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-heart-o"></i>{{blog.likes|length}} likes</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> {{blog.comments.count}} Comments</a></li>
                                </ul>
                            </div>
                        </article>
                        {%endfor%}
                        <!--конец статейки-->

                        {%include 'partitions/_pagination.html'%}
                    </div>
                </div>
                {%include 'partitions/_r_side.html'%}
        </div>
    </section>
    <!--================Blog Area =================-->
    {%endblock content%}