{%extends 'base.html'%}
{%load static%}
{%block content%}

<!-- bradcam_area  -->
<div class="bradcam_area __slim breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>single blog</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ bradcam_area  -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <!--начало статейки-->

                    <article class="blog_item">
                        <div class="blog_item_img">
                            {%if blog.image%}
                            <img class="card-img rounded-0" src="{{blog.image.url}}" alt="">
                            {%endif%}
                            <a href="#" class="blog_item_date">
                                <h3>{{blog.created_at|date:"j"}}</h3>
                                <p>{{blog.created_at|date:"M"}}</p>
                            </a>
                        </div>

                        <div class="blog_details">
                            
                            <div class="d-inline-block" href="single-blog.html">
                                <h2>{{blog.title}}</h2>
                            </div>
                            <p>{{blog.text|linebreaks}}</p>
                            <ul class="blog-info-link">
                                <li onclick="addOrRemoveLike({{blog.id}})" style="cursor:pointer;" >
                                <i class="{{like_class}}" id="like" style="color:{{like_color}};font-size:{{font_size}}"></i>
                                <span id="liLike">{{blog.likes|length}} likes</span></li>
                                <li><a href="#">
                                    <i class="fa fa-comments"></i>
                                    {{blog.comments.count}} Comments</a></li>
                                {%if user.profile.id == blog.author.id%}
                                <a href="{%url "blogs:edit_blog" blog_id=blog.id %}">
                                <li class="blog-edit-link">Edit
                                </li></a>
                                {%endif%}
                            </ul>
                            
                            </div>
                    </article>

                    <!--конец статейки-->
                    

                    
                </div>
                <!--author-->
                <div class="blog-author">
                  <div class="media align-items-center">
                     <img class="m-3" src="{{blog.author.profile_image_thumbnail.url}}" alt="author-image" >
                     <div class="media-body">
                        
                           <h4>{{blog.author.user.get_full_name}}</h4>
                        
                        <p>{{blog.author.about}}</p>
                     </div>
                  </div>
                </div>
                <!--end author-->

                <!--comments-->
                <div class="comments-area">
                  <h4>{{blog.comments.count}} Comments</h4>
                  {%if blog.comments.count != 0 %}
                    {%for comment in blog.comments.all%}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{{comment.author.profile_image_thumbnail.url}}" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{comment.text|linebreaks}}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">{{comment.author.user.get_full_name}}</a>
                                    </h5>
                                    <p class="date">{{comment.created_at|date:"j.m.Y в H:i"}} </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                    {%endfor%}
                  {%endif%}
                  <!--end comments-->
                  <!--comment form-->
                    <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" action="{%url "blogs:create_comment"%}" id="commentForm" method="POST">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                           </div>
                           
                        </div>
                        <input name="blog_id" value="{{blog.id}}" type="hidden" >
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
                <!--comment form-->
               </div>

                   
               </div>
            </div>

</section>
<!--================Blog Area =================-->

{%endblock content%}