{%extends 'base.html'%}
{%load static%}

{%block content%}
<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Editing by {{user.username}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<div class="container">
    <div class="section-top-border">
        <div class="col-12">
            <form action="{% url 'blogs:edit_blog' blog_id=blog.id%}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mt-10">
                   <span>Заголовок: </span> <input type="text" name="title" placeholder="Title of blog" value="{{blog.title}}" class="single-input">
                </div>
                <div class="mt-10">
                    <span>Текст: </span><textarea name="text" class="single-textarea" placeholder="Text tof blog">{{blog.text}}</textarea>
                </div>
                <div class="mt-10">
                    <span>Иллюстрация: </span> <input type="file" name="image" value="{{blog.image}}" class="single-input">
                </div>
                <div class="mt-10">
                   <span>Тэги: </span> <input type="text" name="tags" placeholder="TAGS" value="{{tags}}" class="single-input">
                </div>
                <div class="mt-10">
                    <div class="align-items-center">
                        <div class="row justify-content-md-center">
                            <div class="col-6">
                                <button type="submit" class="genric-btn primary btn-block">Save</button>
                            </div>
                            <div class="col-6">
                                <a href="{%url "blogs:blog" blog_id=blog.id%}" class="genric-btn danger btn-block">Cancel</a>
                            </div>
                            
                        </div>
                    
                </div>
            </form>
            <form action="{%url 'blogs:edit_blog' blog_id=blog.id%}" method="post">
                                {% csrf_token %}
                                <input hidden name="delete" value="yes">
                            <button type="submit" class="genric-btn danger btn-block mt-5 col-2">DELETE</button>
            </form>
            </div>
        </div>
    </div>
</div>
{%endblock content%}